---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

---

<MainLayout>

  <HeroSection
    title=`Beton Precast Berkualitasi hanya di <span
        class="text-yellow-500 dark:text-yellow-400">SinarBejoPrecast</span>`
    subTitle="Menyediakan produk beton berkualitas untuk keperluan proyek konstruksi anda."
    primaryBtn="Lihat Produk"
    primaryBtnURL="/products"
    secondaryBtn="Hubungi Kami"
    secondaryBtnURL="/contact"
    src={heroImage}
    alt="Gambar Produk di Beranda"
  />

  <ClientsSection
    title="Dipercayai oleh Mitra Industri"
    subTitle="Beton kami dipilih karena pengalaman keandalan dari proyek industri besar."
  />

  <FeaturesGeneral
    title="Kenapa Memilih Kami"
    subTitle="Di SinarBejoPrecast, kami menyediakan beton pracetak berkualitas untuk memenuhi kebutuhan sektor proyek konstruksi. Dari pembuatan dengan metode mutakhir hingga layanan ahli, kami berdedikasi untuk menyediakan bahan berkualitas bagi anda."
    src={featureImage}
    alt="Gambar Produk SinarBejoPrecast 2"
    features={features}
  />

  <FeaturesNavs
    title=`Sesuaikan pesanan untuk kebutuhan konstruksi Anda hanya di <span class="text-yellow-500 dark:text-yellow-400">SinarBejoPrecast.</span>`
    tabs={[
      {
        heading: "Berbagai Tipe Beton",
        content:
          "Box Culvert, PipaRPC, Panel, U-Ditch, semua tipe beton yang anda butuhkan.",
        svg: "tools",
        src: tools,
        alt: "Gambar Fitur 1",
        first: true,
      },
      {
        heading: "Berbagai Tipe Beton",
        content:
          "Box Culvert, PipaRPC, Panel, U-Ditch, semua tipe beton yang anda butuhkan.",
        svg: "dashboard",
        src: dashboard,
        alt: "Gambar Fitur 2",
        second: true,
      },
      {
        heading: "Keperluan Konstruksi Anda",
        content:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae vehicula ipsum. Vivamus sed augue nulla.",
        svg: "house",
        src: construction,
        alt: "Gambar Fitur 3",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="Di SinarBejoPrecast, kita menjamin mutu beton pracetak untuk keperluan konstruksi anda."
    ;
    testimonials={[
      {
        content:
          "SinarBejoPrecast secara konsisten menyediakan beton berkualitas untuk proyek kami selama 4-tahun. Pelayanan sales yang ramah dan respon yang cepat membuat mereka menjadi andalan perusahaan kontraktor kami",
        author: "Rahmat",
        role: "Founder | Toko lima.",
        avatarSrc:
          "https:",
      },
    ]}
    statistics={[
      {
        count: "10 tahun",
        description:
          "Pengalaman dengan menyediakan betok pracetak bermutu untuk kebutuhan proyek",
      },
      {
        count: "15%",
        description:
          "Potongan harga untuk pesanan besar hingga 15%",
      },
      {
        count: "15.3%",
        description:
          "text 3",
      },
      {
        count: "poin 4",
        description: "text 4",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Pertanyaan<br />umum" faqs={faqs} />

</MainLayout>
