---
// Import the necessary dependencies.
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import TextInput from "@components/ui/forms/input/TextInput.astro";
import EmailContactInput from "@components/ui/forms/input/EmailContactInput.astro";
import PhoneInput from "@components/ui/forms/input/PhoneInput.astro";
import TextAreaInput from "@components/ui/forms/input/TextAreaInput.astro";
import Icon from "@components/ui/icons/Icon.astro";

// Define the variables that will be used in this component
const title: string = "Hubungi kami";
const subTitle: string =
      "Punya pertanyaan atau ingin mendiskusikan hal lainnya? Hubungi kami dengan form dibawah atau chat di nomor whatsapp kami.";
const formTitle: string = "Isi form dibawah";
const formSubTitle: string = "Kami akan membalas anda dalam 1-2 hari kerja.";
---

<!-- Contact Us -->
<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="text-center">
      <h1
        class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
      >
        {title}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    </div>

    <div class="mt-12 grid items-center gap-6 lg:grid-cols-2 lg:gap-16">
      <div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8">
        <h2
          class="mb-8 text-xl font-bold text-neutral-700 dark:text-neutral-300"
        >
          {formTitle}
        </h2>
        <!-- Form for user input with various input fields.-->
        <!-- Each field utilizes a different input component for the specific type of input (text, email, phone, and textarea)-->
        <form>
          <div class="grid gap-4">
            <EmailContactInput id="hs-email-contacts" />
            <TextAreaInput
              id="hs-about-contacts"
              label="Detail pesan"
              name="hs-about-contacts"
            />
          </div>

          <div class="mt-4 grid">
            <button class="w-full bg-blue-400 py-4 rounded-lg font-semibold hover:bg-blue-500">Kirim Pesan</button>
          </div>

          <div class="mt-3 text-center">
            <p class="text-sm text-neutral-600 dark:text-neutral-400">
              {formSubTitle}
            </p>
          </div>
        </form>
      </div>

      <!--ContactIconBlocks are used to display different methods of contacting, including visiting office, email, browsing knowledgebase, and Pertanyaan umum.-->
      <div class="divide-y divide-neutral-300 dark:divide-neutral-700">

        <ContactIconBlock
          heading="Pertanyaan Umum"
          content="Dapatkan jawaban yang cepat dan jelas atas pertanyaan umum."
          isLinkVisible={true}
          linkTitle="Lihat Pertanyaan Umum"
          linkURL="/#faqs"
          isArrowVisible={true}
          ><Icon name="chatBubble" />
        </ContactIconBlock>

        <ContactIconBlock
          heading="Kunjungi Kami"
          content="CV. SinarBejo"
          isAddressVisible={true}
          addressContent="Krajan Rt.01 Rw.02 Desa Licin Kec. Licin Kab Banyuwangi"
          ><Icon name="mapPin" />
        </ContactIconBlock>

      </div>
    </div>
  </div>
</section>
